.my-post{
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.read-more{
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 5px;
    background-color: #3f51b5;
    outline: none;
}